
.blog-page {
    background: url('../img/for_blog.jpg') no-repeat;
}

.s-blog {
    background-color: #fff;
    position: relative;
}

.s-blog .blog-item_head {
    position: relative;
}

.s-blog .blog-item_head h2 {
    text-align: center;
    margin-bottom: 87px;
    color: #4d4d4f;
    font-size: 35px;
    line-height: 27px;
    font-weight: 700;
}

.s-blog .blog-item_head h2:after {
    content: "";
    position: absolute;
    top: 50px;
    height: 2px;
    width: 150px;
    background: #d12331;
    right: calc(50% - 75px);
}

.s-blog .blog-item {
    text-align: right;
}

.s-blog .left-side .blog-item .top-line {
    border-top: 1px solid #4c4d4f;
    padding: 30px 0;
    border-bottom: 1px solid #4c4d4f;
}

.s-blog .left-side-content h5 {
    font-size: 18px;
    color: #666;
}

.s-blog .left-side-content p {
    color: #d12331;
    font-size: 16px;
}

.s-blog .center-block .item-img-wrap {
}

.item-img-wrap img {
    width: 100%;
    max-width: 100%;
}

.s-blog .center-block .item-center-content {
    margin-top: 30px;
    color: #4d4d4f;
}

.s-blog .center-block .item-center-content span {
    font-size: 16px;
}

.s-blog .center-block .item-center-content h5 {
    font-size: 23px;
    margin-bottom: 0;
}

.s-blog .center-block .item-center-content p {
    font-size: 16px;
    margin-bottom: 40px;
}
.s-blog .buttons {
    overflow: hidden;
    float: right;
}

.s-blog.banner .button {
    margin-right: 0;
}

.s-blog .buttons {
    display: inline-flex;
}

.s-blog .buttons .button {
    display: block;
    margin: 0 0 40px 19px;
    width: 228px;
    height: 51px;
    border: 1px solid #d12331;
    text-align: center;
    line-height: 51px;
    background-color: transparent;
    color: #d12331;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.s-blog .buttons .button:hover {
    background-color: #d12331;
    color: #ffffff;
}

.s-blog .buttons .button:hover:before {
    position: absolute;
    margin-right: 100px;
    font-family: Linearicons-Free;
    content: "\e879";
    font-size: 30px;
}

.blog-item-wrap {
    position: relative;
}

.blog-item .dimox_breadcrumbs {
    position: relative;
}

.blog-item .dimox_breadcrumbs span {
    font-size: 16px;
    color: #4c4d4f;
}

.dimox_breadcrumbs span a {
    text-decoration: none;
}

.blog-item .dimox_breadcrumbs {
    text-align: center;
}

.blog-item .dimox_breadcrumbs .sep {
    padding: 0;
}

.blog-item .dimox_breadcrumbs .breadcrumbs-number {
    font-size: 32px;
    position: absolute;
    right: 0;
    bottom: 5px;
}

.dimox_breadcrumbs .current {
    font-weight: bold;
}

.blog-item .dimox_breadcrumbs {
    padding-bottom: 15px;
    position: relative;
}

.blog-item .dimox_breadcrumbs:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #d02230;
}

.blog-item .dimox_breadcrumbs:after {
    content: '';
    position: absolute;
    bottom: -12px;
    right: 0;
    height: 13px;
    width: 50px;
    background-color: #d02230;
    margin-right: -12px;
}

.blog-item-wrap:before {
    content: '';
    height: 1px;
    background-color: #4c4d4f;
    width: 75%;
    bottom: 0;
    right: 0;
    position: absolute;
}

.s-blog .wrapper-pagination {
    margin-top: 30px;
}

.s-blog .wrapper-pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.s-blog .wrapper-pagination .pagination-item {
    display: inline-block;
    width: 35px;
    line-height: 1;
    text-align: center;
    overflow: hidden;
}

.s-blog .wrapper-pagination .pagination-item .pagination-link {
    display: inline-block;
    width: 100%;
    border-right: 1px solid #a0a0a0;
    text-decoration: none;
    font-style: normal;
    color: #999;
    font-size: 16px;
}

.s-blog .wrapper-pagination .button.right, .s-blog .wrapper-pagination .button.left {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #c5c5c5;
}

.s-blog .wrapper-pagination .button.right .fa:before, .s-blog .wrapper-pagination .button.left .fa:before {
    font-family: 'fontawesome';
}