.departament-information-page {
  background: url("/img/dep-info.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat; }
  .departament-information-page #menu_header .active {
    color: #d12331; }
  .departament-information-page header {
    background: white; }
  .departament-information-page .breadcrumbs {
    padding-top: 50px; }
  .departament-information-page .adv-text-block {
    padding-top: 40px;
    text-align: center; }
    .departament-information-page .adv-text-block .adv-title {
      color: #4d4d4f;
      font-size: 35px;
      position: relative; }
      .departament-information-page .adv-text-block .adv-title:before {
        position: absolute;
        width: 150px;
        height: 2px;
        background: #d12331;
        bottom: -15px;
        content: '';
        left: 50%;
        transform: translate(-50%, 0); }
    .departament-information-page .adv-text-block-description {
      color: #4d4d4f;
      font-size: 17px;
      padding-top: 20px;
      line-height: 27px;
      padding-bottom: 70px; }
  .departament-information-page .departament-adv-accordeon {
    background: url("../img/dep-info-acc.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 90px 0; }
  .departament-information-page .acc-item {
    margin: auto;
    transition-duration: 0.4s; }
    .departament-information-page .acc-item .col-md-10 {
      margin: auto;
      border-bottom: 1px solid #d12331; }
    .departament-information-page .acc-item .acc-arrow svg path {
      transition-duration: 0.4s; }
    .departament-information-page .acc-item:hover, .departament-information-page .acc-item.opened {
      background: white;
      cursor: pointer; }
      .departament-information-page .acc-item:hover .acc-arrow svg path, .departament-information-page .acc-item.opened .acc-arrow svg path {
        fill: white !important; }
      .departament-information-page .acc-item:hover .acc-arrow, .departament-information-page .acc-item.opened .acc-arrow {
        background: #d12331; }
  .departament-information-page .acc-item.opened {
    background: white; }
  .departament-information-page .acc-body {
    padding: 20px 25px;
    margin-top: -35px;
    display: none; }
    .departament-information-page .acc-body-heading {
      color: #d12331;
      margin-top: 35px;
      font-weight: bold; }
    .departament-information-page .acc-body-text {
      color: #4d4d4f;
      margin-top: 15px; }
    .departament-information-page .acc-body ul {
      list-style: none; }
      .departament-information-page .acc-body ul a {
        color: #d12331; }
      .departament-information-page .acc-body ul li {
        position: relative;
        font-size: 16px;
        color: #4d4d4f;
        margin: 10px 0; }
        .departament-information-page .acc-body ul li:before {
          content: '';
          position: absolute;
          right: -12px;
          top: 8px;
          width: 6px;
          height: 6px;
          background: #d12331; }
  .departament-information-page .acc-heading {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 0; }
    .departament-information-page .acc-heading .acc-text {
      position: relative;
      padding-right: 65px;
      padding-top: 20px;
      font-weight: bold;
      font-size: 19px;
      color: #4d4d4f; }
      .departament-information-page .acc-heading .acc-text:before, .departament-information-page .acc-heading .acc-text:after {
        position: absolute;
        content: '';
        background: #d12331; }
      .departament-information-page .acc-heading .acc-text:before {
        width: 65px;
        height: 15px;
        top: -5px;
        right: 65px; }
      .departament-information-page .acc-heading .acc-text:after {
        width: 80px;
        height: 1px;
        right: -15px;
        top: -5px; }
  .departament-information-page .acc-arrow {
    padding: 10px;
    border: 1px solid #d12331;
    display: flex;
    align-items: center; }
    .departament-information-page .acc-arrow img {
      max-width: 22px; }
  .departament-information-page .eco-bottom-text {
    padding: 80px 0; }
    .departament-information-page .eco-bottom-text .eco-bottom-text-title {
      color: #4d4d4f;
      font-size: 23px;
      font-weight: bold;
      position: relative; }
      .departament-information-page .eco-bottom-text .eco-bottom-text-title:before, .departament-information-page .eco-bottom-text .eco-bottom-text-title:after {
        position: absolute;
        content: '';
        background: #d12331; }
      .departament-information-page .eco-bottom-text .eco-bottom-text-title:before {
        width: 65px;
        height: 15px;
        top: -20px;
        right: 0px; }
      .departament-information-page .eco-bottom-text .eco-bottom-text-title:after {
        width: 80px;
        height: 1px;
        right: -80px;
        top: -20px; }
    .departament-information-page .eco-bottom-text .row {
      margin-top: 15px; }
      .departament-information-page .eco-bottom-text .row.margin {
        margin-top: 80px; }
    .departament-information-page .eco-bottom-text .img-responsive {
      max-width: 100%; }
    .departament-information-page .eco-bottom-text .eco-bottom-text-desc {
      color: #4d4d4f;
      font-size: 16px;
      padding: 40px 0; }
    .departament-information-page .eco-bottom-text .eco-home-title {
      color: #d12331;
      padding: 4px 0;
      font-size: 16px; }
    .departament-information-page .eco-bottom-text .eco-home-desc {
      font-weight: 300;
      font-size: 13px;
      color: #4d4d4f; }

/*# sourceMappingURL=department-information.css.map */
