#mobile-menu-front{
        display: none;
    }

.mobile-owl{
    display: none;
}

.mobile-header-text{
    display: none;
}

.mobile-owl-container{
    display: none;
}

#mobile-footer{
    display: none;
}

#mobile-menu-opener{
    display: none;
}

@media screen and (max-width: 1170px){
    #mobile-menu-front{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    #mobile-menu-front img{
        max-height: 47px;
    }

    .mobile-header-text{
        display: block;
    }

    .mobile-owl-container{
        display: block;
    }

    .icon-bars{
        background: #d12331;
        padding: 15px 18px;
        margin-left: 15px;
    }

    .icon-phone{
        color: #4d4d4f;
    }

    #mobile-menu-front .icon-bars{
        color: white;
    }

    header{
        display: none;
    }

    .mobile-owl{
        display: block;
    }

    .owl-mobile-item{
       height: 300px;
        width: 100%;
    }

    .banner{
        display: none;
    }

    .info1{
        padding-bottom: 40px;
    }

    .info1 p{
        font-size: 14px;
        line-height: 20px;
    }

    .info1 .buttons .button{
        width: 120px;
        height: 30px;
        line-height: 30px;
        margin: 0 10px;
    }

    .owl-mobile-item img{
        height: 300px;
        object-fit: cover;
        object-position: 37% 50%;
    }

    .mobile-owl-container{
        position: relative;
    }

    .mobile-owl .owl-nav{
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .mobile-owl .owl-nav .owl-prev,
    .mobile-owl .owl-nav .owl-next{
        color: transparent;
    }

    .mobile-owl .owl-nav .owl-next:before{
        content: '';
        position: absolute;
        left: 0;
        color: white;
        background: url('/img/image-arrow-geo.png') no-repeat  #d02230;
        background-position: center;
        transform: rotate(-180deg);
        font-size: 32px;
        padding: 24px;
        bottom: 0;
    }

    .slider-text-block{
        letter-spacing: 0.075em;
    }

    .mobile-owl .owl-nav .owl-prev:before{
        content: '';
        color: white;
        position: absolute;
        left: 50px;
        background: url('/img/image-arrow-geo.png') no-repeat  #d02230;
        background-position: center;
        font-size: 32px;
        padding: 24px;
        bottom: 0;
    }

    .slider-text-block{
        position: absolute;
        bottom: 0;
        right: 0;
        background: #d02230;
        padding: 13px 16px;
        color: white;
    }

    .mobile-header-text{
        padding: 15px;
        background: #717172;
        padding-bottom: 27px;
    }

    .mobile-header-button{
        letter-spacing: 0.2em;
    }

    .info1 h2{
        margin-top: 25px !important;
    }

    .mobile-header-button{
        padding: 8px 20px !important;
    }

    .mobile-header-title{
        font-size: 18px !important;
    }

    .info1 .buttons{
        margin-top: 20px;
    }

    .info1 .buttons .button{
        font-size: 11px !important;
        letter-spacing: 0.2em !important;
        margin: 0 4px !important;
        width: 100px !important;
    }

    .info1 p{
        font-size: 13px !important;
    }

    .mobile-header-title{
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .mobile-header-desc{
        font-size: 12px;
        margin-top: 10px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .activities_item-description{
        font-size: 11px !important;
        line-height: initial !important;
    }

    .activities_item-img{
        height: auto !important;
    }

    .activities_item .activities_item-img{
        width: 160px !important;
    }

    .activities_item{
        display: flex;
    }

    .activities_item-title{
        margin-bottom: 7px !important;
    }

    .activities_item .activities_item-img{
        padding-top: 0 !important;
    }

    .activities h2{
        margin-top: 45px !important;
        margin-bottom: 45px !important;
        font-size: 19px !important;
        position: relative;
    }

    .activities{
        padding-bottom: 15px !important;
    }

    .activities h2:before{
        content: '';
        position: absolute;
        bottom: -8px;
        width: 110px;
        left: 50%;
        transform: translate(-50%,0);
        height: 2px;
        background: #d12331;
    }

    .activities h2:after{
        display: none;
    }

    .mobile-fix-ai{
        text-align: right;
        padding-right: 20px;
    }

    .activities_item-title{
        font-size: 15px;
        font-weight: bold;
    }

    .activities_item-img div{
        width: 100% !important;
        height: 100% !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .mobile-header-button{
        border: 1px solid #bcbcbd;
        padding: 8px 16px;
        color: white;
        text-decoration: none;
    }

    .activities_item{
        width: 100%;
        margin-bottom: 18px;
    }

    .methods_content{
        padding: 0;
    }

    .info1 h2{
        margin-top: 15px;
        font-size: 24px;
    }

    #mobile-menu-front{
        border-bottom: 1px solid #d02230;
    }

    .methods_item{
        width: 100%;
    }

    .info2 h2{
            font-size: 21px;
    letter-spacing: 0.2em;
    line-height: 30px;
    margin-bottom: 25px !important;
    }

    .info2 .button{
        width: 40%;
        padding: 15px 40px;
        box-sizing: content-box;
        font-size: 14px;
        height: auto;
        line-height: 14px;
    }

    .info2{
        padding: 90px 0;
        background-size: cover !important;
        background-position: center !important;
    }

    .posts .post, .posts .post_hot{
        height: auto !important;
        background-position: 60% 50% !important;
    }

    .posts .post, .posts .post_hot{
      padding-bottom: 50px !important;
    }

    section.form input[type="submit"]{
        width: 140px !important;
        float: none !important;
        letter-spacing: 0.2em !important;
        height: 38px !important;
        margin-top: -5px !important;
    }

    .mobile-footer-copyright{
        text-align: center;
    }

    #mobile-footer .d-flex.ai-center.flex-row-reverse{
        justify-content: center !important;
    }

    .mobile-footer-item-phone a{
        font-weight: 400 !important;
    }

    section.form{
        padding-bottom: 20px !important;
    }

    section.form input[type="text"], section.form input[type="email"], section.form input[type="tel"]{
        margin-bottom: 12px !important;
    }

    section.form{
        background: none !important;
    }

    .posts .post_description{
        position: relative;
    }

    .posts .post_hot .button{
        display: inline !important;
        bottom: 0 !important;
        position: relative !important;
        letter-spacing: 0.2em;
        padding: 8px 26px !important;
        margin: auto !important;
        right: 0 !important;
    }

    .posts .post_description{
        font-size: 14px !important;
        margin-bottom: 20px !important;
    }

    .posts .post .button{
        position: relative;
        bottom: 0!important;
        margin-top: 15px !important;
    z-index: 3;
    display: block;
    width: 150px;
    height: 40px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    letter-spacing: 0.2em;
    }

    .posts .post_date{
        margin-top: 15px !important;
        margin-bottom: 35px !important;
    }

    .posts .post:before{
        background: rgba(0,0,0,0.6);
    }

    .digitals_item{
        width: 80px;
        height: 80px;
        margin: 7px;
    }

    .digitals_list{
        display: flex;
        flex-wrap: wrap;
    }

    .posts .post_title h3{
        font-size: 15px;
    }

    .posts .post{
        padding: 8px 16px;
    }

    .posts .post_hot{
        padding: 0;
    }

    .posts .post_hot-title h3{
        font-size: 18px;
        margin-top: 0 !important;
    }

    .posts .post_hot-item1{
        margin-bottom: 18px !important;
    }

    .posts .post .button{
        bottom: 30px;
    }

    section.form input[type="text"], section.form input[type="email"], section.form input[type="tel"]{
        width: 100%;
    }

    section.form textarea{
        width: 100%;
        float: none;
        height: 120px;
        margin: auto;
    }

    #menu_footer{
        display: none;
    }

    footer{
        display: none;
    }

    #mobile-footer{
        display: flex;
        background: #404041;
        padding: 15px 15px;
        flex-direction: column;
    }

    .mobile-footer-item:first-child{
        padding: 8px 14px;
    }

    .mobile-footer-item{
        margin: 0 6px;
        padding: 8px 12px;
        border: 1px solid white;
        border-radius: 100%;
    }

    .mobile-footer-item a{
        color: white;
        text-decoration: none;
    }

    .mobile-footer-item-phone{
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .mobile-footer-item-phone a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .mobile-footer-copyright{
        color: white;
        font-size: 12px;
        margin-top: 20px;
    }

    html{
        overflow-x: hidden;
    }

    body{
        overflow-x: hidden;
    }

    #mobile-menu-opener{
        width: 60%;
        height: 90vh;
        position: absolute;
        top: 55px;
        right: -100%;
        background: white;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        transition-duration: 0.4s;
    }

    #mobile-menu-opener.open{
        right: 0;
    }

    #mobile-menu-opener a{
        text-decoration: none;
        color: #4d4d4f;
    }

    #mobile-menu-opener a.active{
        color: #d12331;
    }

    .mobile-menu-item-container{
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
    }

    .mobile-menu-item-container a{
        margin: 12px 0;
        font-weight: bold;
    }

    .mobile-menu-info{
        padding: 15px 20px;
        background: #f6f6f6;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .mobile-menu-info i{
        color: #999999;
    }

    #mobile-menu-opener{
        display: flex;
    }

    .methods h2{
        margin-top: 40px !important;
        font-size: 19px !important;
        position: relative;
        margin-bottom: 25px !important;
    }

    .methods h2:before{
        content: '';
        position: absolute;
        bottom: -8px;
        width: 110px;
        left: 50%;
        transform: translate(-50%,0);
        height: 2px;
        background: #d12331;
    }

    .methods h2:after{
        display: none;
    }

    .methods_item{
        width: 45% !important;
        min-height: 100px !important;
        height: 100px !important;
        background-size: cover !important;
        margin: 8px 5px !important;
    }

    .methods_item-more{
        display: none !important;
    }

    .methods_item-title{
        top: 15% !important;
    height: 85% !important;
    }

    .methods_content{
        padding-bottom: 50px !important;
    }

    .methods_item-title p{
        font-size: 12px !important;
        margin-right: 10px !important;
        margin-bottom: -5px !important;
    }

    .methods_content{
        justify-content: center !important;
    }

    .info2 .button{
        width: 30% !important;
        padding: 15px 35px !important;
        letter-spacing: 0.2em !important;
    }
}

@media screen and (min-width: 455px) and (max-width: 1170px){
    #mobile-footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .mobile-footer-copyright{
        margin-top: 0;
    }

    .posts .post{
        background-size: cover !important;
        background-repeat:no-repeat !important;
    }

    .methods_content{
        justify-content: center;
    }

    .methods_item{
        width: 40%;
    }
}
