@import 'main';
@media (min-width: 1200px) {
  .about-page .container {
    max-width: 1250px;
  }
}


.about-page {
  background: url(../img/about-bg.png) no-repeat;
}
.page-about .activities_content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.page-about .activities_item {
  width: 25%;
  text-align: center;
  margin-bottom: 70px;
  cursor: pointer;
}
.page-about .activities_item-img {
  height: 130px;
  width: 130px;
  margin: 0 auto;
  padding-top: 15px;
  text-align: center;
  background-color: rgba(255,255,255,0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.page-about .activities_item-title {
  margin-bottom: 22px;
  color: #000;
  font-size: 18px;
  line-height: 24px;
}
.page-about .activities_item .img1, .activities_item .img2, .activities_item .img3, .activities_item .img4, .activities_item .img5, .activities_item .img6, .activities_item .img7 {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-about .activities_item .img1 {
  background: url(../img/advert-icon1-on.png);
}
.page-about .activities_item .img2 {
  background: url(../img/advert-icon2-on.png);
}
.page-about .activities_item .img3 {
  background: url(../img/advert-icon3-on.png);
}
.page-about .activities_item .img4 {
  background: url(../img/advert-icon4-on.png);
}
.page-about .activities_item .img5 {
  background: url(../img/advert-icon5-on.png);
}
.page-about .activities_item .img6 {
  background: url(../img/advert-icon6-on.png);
}
.page-about .activities_item .img7 {
  background: url(../img/advert-icon7-on.png);
}
.aboutgraf {
  background: url(../img/aboutgraf.png) no-repeat;
  height: 502px;
}


.starlist-box-foot {
  padding: 15px 0;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
  margin-bottom: 100px;

  p {
    color: red;
    font-size: 19px;
    font-weight: bold;
    margin: 10px 0 0 0;
  }

  .col-md-4 {text-align: left}
}
.starlist-box {
  margin-top: 20px;
}
.starlist-box_items {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;

    li {
      background: url(../img/tarlist-boxitem.png) no-repeat right 8px;
      padding: 8px 50px 8px 0;

        &:hover {
          background: url(../img/tarlist-boxitem-hover.png) no-repeat right 8px;
          color: #d12331;
        }

    }

    a {
      font-size: 18px;
      text-decoration: none;
      color: #4d4d4f;

        &:hover {
            color: #d12331;
          }
    }
}


.aboutview {
  background: url(../img/vision-bg.png) no-repeat;
  height: 685px;
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 23px;
      margin: 20px 0;
    }
}

.company-items {
  margin-bottom: 60px;
    h2 {
      margin-bottom: 80px;
    }
}
.company-item {
  background: url(../img/about-list-item.png) no-repeat right top;
  margin-bottom: 40px;
  padding-right: 56px;
}





/* start methods */
.team_box {

margin-bottom: 105px;

}

.team_box_item {
  width: 403px;
  min-height: 340px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;

  &-title {
    display: inline-block;
      p {
        color: #4d4d4f;
        font-size: 16px;
        margin: 0;
      }

      p.team_box_item_title {
        color: #d12331;
        font-size: 18px;
        margin: 25px 0 0 0;
        font-weight: bold;
      }

  }

    a {
      display: inline-block;
      position: relative;
      height: 253px;
        &:hover img {
          border-bottom: 7px solid $link_active;
        }
    }
}

.team_box_item-more {
  background: url(../img/arrowcontent.png) no-repeat;
  display: inline-block;
  width: 43px;
  height: 34px;
  float: left;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
a:hover .team_box_item-more {background: url(../img/arrowcontentover.png) no-repeat;}

.team-slider {padding-top: 60px;}
.team-slider .owl-nav {
  position: relative;
  top: -410px;
}
.team-slider .owl-nav .owl-next {
  background: url(../img/arrow-left.png) no-repeat;
   left: 0;
   position: absolute;
  height: 36px;
  width: 44px;
 }
.team-slider .owl-nav .owl-next:hover {
  background: url(../img/arrow-leftover.png) no-repeat;
}
.team-slider .owl-nav .owl-prev {
  background: url(../img/arrow-right.png) no-repeat;
  right: 0;
  position: absolute;
  height: 36px;
  width: 44px;
}
.team-slider .owl-nav .owl-prev:hover {
  background: url(../img/arrow-rightover.png) no-repeat;
}