@import 'main';

.contact-page {
  background: url(../img/contact-bg.png) no-repeat;
}

h3 {
  position: relative;
  padding-bottom: 30px;
  font-size: 23px;
  &:before {
    content: '';
    position: absolute;
    top: -15px;
    height: 13px;
    width: 65px;
    background-color: $bg_red;
    margin-right: -12px;
  }
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    right: 0;
    height: 1px;
    width: 85px;
    background-color: $bg_red;
    margin-right: -95px;
  }
}
/* start form */
section.contact-form {
  padding-bottom: 100px;

  h2 {
    margin-top: 60px;
    margin-bottom: 133px;
    color: $text_dark;
    font-size: 35px;
    line-height: 27px;
    text-align: center;
    font-weight: 700;

    &:after {
      content: "";
      position: absolute;
       top: 105px;
      height: 2px;
      width: 150px;
      background: $link_active;
      right: calc(50% - 75px);
    }

  }

    p {
      margin: 10px 0;
    }

  span {
    display: block;
  }
  form {
    padding-top: 50px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    font-size: 16px;
    width: 48%;
    height: 50px;
    margin-bottom: 22px;
    border: 1px solid #cccccc;
    padding: 21px 17px;
  }

  textarea {
    font-size: 16px;
    padding: 21px 17px;
    margin-top: -288px;
    height: 193px;
    resize: none;
    width: 49%;
    float: left;
    border: 1px solid #cccccc;
    color: $text_dark;
  }

  input[type="submit"] {
    margin-right: 5px;
    margin-left: 0;
    text-align: center;
    background: #ffffff;
    letter-spacing: 5px;
    font-size: 18px;
    color: $link_active;
    border: 1px solid $bg_red;
    margin-top: -88px;
    padding: 8px 15px 6px;
    width: 228px;
    height: 50px;
    line-height: 100%;
    float: left;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $bg_red;
      color: #ffffff;
    }

  }

  .ajax-loader {
    display: none;
  }

}

/* end form */