* {
  font-family: 'OpenSansHebrew'; }

body,
ul {
  margin: 0;
  padding: 0; }

section,
div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

header {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
  border-bottom: 1px solid #d12331; }

header.fixed {
  background-color: #ffffff; }

.header_container {
  height: 100%; }
.header_links {
  float: right; }
  .header_links li {
    display: inline-block;
    height: 35px;
    padding: 0 20px;
    border-left: 1px solid #4d4d4f;
    line-height: 35px;
    list-style-type: none;
    font-size: 14px; }
    .header_links li a {
      color: #4d4d4f;
      text-decoration: none; }
    .header_links li [class^="icon-"]:before,
    .header_links li [class*=" icon-"]:before {
      font-size: 14px;
      color: #999999; }
    .header_links li .icon-phone {
      color: #4d4d4f;
      margin-right: 10px; }
      .header_links li .icon-phone:before {
        font-size: 17px; }
.header_logo {
  float: left; }
.header_menu {
  display: inline-flex;
  margin-top: 46px; }
.header_menu-menu {
  display: inline-flex;
  float: right;
  height: 100%; }
  .header_menu-menu li.menu_item {
    position: relative;
    display: block;
    list-style-type: none;
    transition: all 0.3s;
    height: 100%;
    margin-right: 34px; }
    .header_menu-menu li.menu_item a {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: #4d4d4f; }
      .header_menu-menu li.menu_item a:hover {
        color: #d12331; }
    .header_menu-menu li.menu_item.menu_item_has_children:after {
      content: "\e874";
      position: absolute;
      font-family: 'Linearicons-Free';
      font-size: 8px;
      top: 8px;
      left: -12px;
      cursor: pointer; }
    .header_menu-menu li.menu_item.menu_item_has_children:hover .sub_menu {
      opacity: 1;
      visibility: visible; }
  .header_menu-menu .sub_menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 1px;
    z-index: 99;
    transition: all 0.3s; }
    .header_menu-menu .sub_menu li.sub-menu_item {
      height: 35px;
      background: #f5f5f5;
      border-bottom: 1px solid #999999;
      list-style-type: none;
      display: block;
      width: 240px; }
      .header_menu-menu .sub_menu li.sub-menu_item a {
        text-align: right;
        padding-right: 25px;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        text-decoration: none; }
      .header_menu-menu .sub_menu li.sub-menu_item:hover {
        background-color: #ffffff; }

.search {
  float: right;
  width: 70px;
  margin-bottom: 30px;
  border-left: 1px solid #4d4d4f;
  text-align: center;
  color: #4d4d4f; }
  .search img {
    margin-left: 15px; }

/* end header */
/* start footer */
footer {
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: #404041; }
  footer .footer_menu-menu {
    display: inline-flex;
    justify-content: space-between;
    float: right; }
    footer .footer_menu-menu li {
      display: block;
      list-style-type: none; }
      footer .footer_menu-menu li.menu_item_has_children:after {
        content: "\e874";
        font-family: 'Linearicons-Free';
        font-size: 8px; }
      footer .footer_menu-menu li a {
        text-decoration: none;
        color: #ffffff;
        margin-left: 34px;
        font-size: 15px; }
        footer .footer_menu-menu li a:hover {
          color: #d12331; }
    footer .footer_menu-menu .sub_menu {
      display: none; }
  footer .footer_row {
    align-items: baseline; }
  footer .footer_links li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    color: #ffffff;
    float: left; }
    footer .footer_links li a {
      color: #ffffff;
      text-decoration: none; }
    footer .footer_links li i {
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      border: 1px solid #ffffff;
      border-radius: 100%;
      color: #999999;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s; }
      footer .footer_links li i:hover {
        color: #ffffff; }
  footer .footer_links .icon-phone {
    margin: 0 16px; }
  footer .copyright {
    padding-top: 48px;
    text-align: right;
    color: #ffffff; }

.mobile-menu-btn {
  display: none; }

@media screen and (max-width: 899px) {
  header.container {
    padding: 0; }

  .header_links {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #d02230;
    margin-bottom: 10px; }
    .header_links li {
      display: block;
      height: 35px;
      padding: 0 10px;
      line-height: 35px;
      list-style-type: none;
      font-size: 14px;
      border: none; }
  .header_logo {
    display: block;
    width: 100px; }
    .header_logo img {
      width: 100%; }
  .header_menu {
    margin: 0; }
    .header_menu #menu {
      position: fixed;
      right: 100%;
      margin-top: 35px; }
    .header_menu .search {
      position: fixed;
      left: 50%;
      margin-left: -16px;
      border: none;
      width: 33px; }

  .mobile-menu-btn {
    position: fixed;
    background-color: transparent;
    display: block;
    right: 0;
    height: 45px;
    width: 45px;
    margin: 0;
    margin-top: -11px;
    padding: 8px 10px;
    border: 1px solid #d02230;
    box-sizing: border-box;
    z-index: 999; }
    .mobile-menu-btn span {
      background-color: #d02230;
      display: block;
      height: 3px;
      margin-top: 5px;
      position: relative;
      transition: all 0.3s ease 0s;
      width: 23px;
      opacity: 1; } }
/* end footer */
.banner {
  margin-top: 135px; }
  .banner .owl-carousel {
    direction: ltr; }
  .banner .owl-nav {
    position: absolute;
    top: calc(50% - 33px);
    width: 100%; }
  .banner .owl-prev {
    text-align: center;
    height: 55px;
    width: 55px;
    line-height: 55px;
    float: left;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
    margin-left: 25px;
    background-color: #d02230; }
  .banner .owl-next {
    text-align: center;
    height: 55px;
    width: 55px;
    line-height: 55px;
    float: right;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.75);
    margin-right: 25px;
    background-color: #d02230; }
  .banner .slider_info {
    position: absolute;
    bottom: 0;
    height: 135px;
    padding-top: 27px;
    background-color: rgba(77, 77, 79, 0.8); }
    .banner .slider_info .slider-description {
      padding: 0; }
      .banner .slider_info .slider-description h2 {
        display: block;
        font-size: 28px;
        line-height: 38px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        float: right; }
      .banner .slider_info .slider-description p {
        color: #ffffff;
        float: right;
        text-align: right;
        margin: 10px 0; }
    .banner .slider_info .slider-redline {
      border-top: 1px solid #d02230;
      margin-left: 57px; }
  .banner .button {
    display: block;
    width: 228px;
    height: 51px;
    margin-right: 44px;
    background-color: transparent;
    text-align: center;
    line-height: 51px;
    font-size: 20px;
    border: 1px solid  #ffffff;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-out;
    float: right; }
    .banner .button:hover {
      background-color: #d12331;
      border: 1px solid #d12331; }
      .banner .button:hover:before {
        position: absolute;
        margin-left: -45px;
        font-family: Linearicons-Free;
        content: "\e879";
        font-size: 30px; }
    .banner .button-active {
      border: 1px solid #d12331;
      background-color: #d12331;
      color: #ffffff;
      float: left; }
      .banner .button-active:hover {
        background-color: #bb1f2c; }

/* Start info1 */
.info1 {
  text-align: center; }
  .info1 h2 {
    margin-top: 104px;
    font-size: 30px;
    line-height: 38px;
    color: #4d4d4f;
    font-weight: bold; }
  .info1 p {
    color: #4d4d4f;
    font-size: 29px;
    line-height: 47px; }
  .info1 .buttons {
    display: inline-flex; }
    .info1 .buttons .button {
      display: block;
      margin: 80px 19px 100px 19px;
      width: 228px;
      height: 51px;
      border: 1px solid #d12331;
      text-align: center;
      line-height: 51px;
      background-color: transparent;
      color: #d12331;
      text-decoration: none;
      transition: all 0.3s ease-out; }
      .info1 .buttons .button:hover {
        background-color: #d12331;
        color: #ffffff; }
        .info1 .buttons .button:hover:before {
          position: absolute;
          margin-right: 100px;
          font-family: Linearicons-Free;
          content: "\e879";
          font-size: 30px; }
      .info1 .buttons .button-active {
        background-color: #d12331;
        color: #ffffff; }
        .info1 .buttons .button-active:hover {
          background-color: #4d4d4f;
          border: 1px solid transparent; }
          .info1 .buttons .button-active:hover:before {
            position: absolute;
            margin-left: -45px;
            font-family: Linearicons-Free;
            content: "\e879";
            font-size: 30px; }

/* end info1 */
/* start activities*/
.activities {
  padding-bottom: 100px; }
  .activities h2 {
    margin-top: 95px;
    margin-bottom: 75px;
    color: #ffffff;
    font-size: 35px;
    line-height: 27px;
    text-align: center; }
    .activities h2:after {
      content: "";
      position: absolute;
      top: 141px;
      height: 2px;
      width: 150px;
      background: #d12331;
      right: calc(50% - 75px); }
  .activities_content {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; }
  .activities_item {
    width: 25%;
    text-align: center;
    margin-bottom: 95px;
    cursor: pointer; }
    .activities_item .img1,
    .activities_item .img2,
    .activities_item .img3,
    .activities_item .img4,
    .activities_item .img5,
    .activities_item .img6,
    .activities_item .img7 {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      transition: all 0.3s; }
    .activities_item .img1 {
      background: url(../img/advert-icon1-off.png); }
    .activities_item .img2 {
      background: url(../img/advert-icon2-off.png); }
    .activities_item .img3 {
      background: url(../img/advert-icon3-off.png); }
    .activities_item .img4 {
      background: url(../img/advert-icon4-off.png); }
    .activities_item .img5 {
      background: url(../img/advert-icon5-off.png); }
    .activities_item .img6 {
      background: url(../img/advert-icon6-off.png); }
    .activities_item .img7 {
      background: url(../img/advert-icon7-off.png); }
    .activities_item-title {
      margin-bottom: 22px;
      color: #ffffff;
      font-size: 18px;
      line-height: 24px; }
    .activities_item-description {
      color: #ffffff;
      font-size: 16px;
      line-height: 24px; }
    .activities_item-img {
      height: 130px;
      width: 130px;
      margin: 0 auto;
      padding-top: 15px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0);
      transition: all 0.3s; }
    .activities_item:hover .activities_item-img {
      background-color: white;
      border-radius: 100px; }
      .activities_item:hover .activities_item-img .img1 {
        background: url(../img/advert-icon1-on.png); }
      .activities_item:hover .activities_item-img .img2 {
        background: url(../img/advert-icon2-on.png); }
      .activities_item:hover .activities_item-img .img3 {
        background: url(../img/advert-icon3-on.png); }
      .activities_item:hover .activities_item-img .img4 {
        background: url(../img/advert-icon4-on.png); }
      .activities_item:hover .activities_item-img .img5 {
        background: url(../img/advert-icon5-on.png); }
      .activities_item:hover .activities_item-img .img6 {
        background: url(../img/advert-icon6-on.png); }
      .activities_item:hover .activities_item-img .img7 {
        background: url(../img/advert-icon7-on.png); }

/* end activities*/
/* start methods */
.methods h2 {
  margin-top: 95px;
  margin-bottom: 75px;
  color: #4d4d4f;
  font-size: 35px;
  line-height: 27px;
  text-align: center; }
  .methods h2:after {
    content: "";
    position: absolute;
    top: 141px;
    height: 2px;
    width: 150px;
    background: #d12331;
    right: calc(50% - 75px); }
.methods_content {
  display: inline-flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 0 70px 85px;
  flex-direction: row-reverse; }
.methods_item {
  width: 23%;
  min-height: 270px;
  margin: 0 15px 35px;
  cursor: pointer;
  transition: all 0.3s; }
  .methods_item-title {
    position: relative;
    top: 50%;
    height: 50%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); }
    .methods_item-title p {
      display: inline-block;
      margin-top: 91px;
      margin-right: 30px;
      float: right;
      color: #ffffff; }
  .methods_item-more {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    margin-top: 80px;
    margin-left: 30px;
    float: left;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    transition: all 0.3s; }
    .methods_item-more:before {
      font-family: Linearicons-Free;
      content: "\e875"; }
  .methods_item:hover {
    border-bottom: 7px solid #d12331; }
    .methods_item:hover .methods_item-more {
      font-size: 28px;
      border: none; }
      .methods_item:hover .methods_item-more:before {
        font-family: Linearicons-Free;
        content: "\e879"; }

@media screen and (max-width: 1899px) {
  .methods_item {
    width: 22%;
    min-height: 200px; }
    .methods_item-title p {
      margin-top: 55px; }
    .methods_item-more {
      margin-top: 50px; } }
/* end methods */
/* start info2 */
.info2 {
  padding-top: 260px;
  padding-bottom: 220px;
  text-align: center; }
  .info2 h2 {
    margin-bottom: 85px;
    margin-top: 0;
    font-size: 45px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    letter-spacing: 10px; }
  .info2 .button {
    display: block;
    margin: 0 auto;
    width: 371px;
    height: 86px;
    background-color: transparent;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 31px;
    line-height: 86px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-out; }
    .info2 .button:hover {
      background-color: #d12331;
      border: 1px solid #d12331; }
      .info2 .button:hover:before {
        position: absolute;
        margin-right: 150px;
        font-family: Linearicons-Free;
        content: "\e879";
        font-size: 30px; }

/* end info2 */
/* start digitals */
.digitals {
  padding-top: 105px;
  padding-bottom: 95px; }
  .digitals_list {
    display: inline-flex;
    justify-content: space-around;
    width: 100%; }
  .digitals_item {
    display: table;
    width: 195px;
    height: 195px;
    border: 1px solid #cccccc;
    border-radius: 100%;
    text-align: center; }
    .digitals_item .table-cell {
      display: table-cell;
      vertical-align: middle; }
    .digitals_item span {
      display: block;
      font-size: 55px;
      color: #d12331;
      font-weight: 600; }
    .digitals_item p {
      display: block;
      font-size: 17px;
      color: #4d4d4f;
      margin: 0; }

/* end digitals */
/* start posts */
.posts .post {
  color: #ffffff;
  padding: 0 72px;
  height: 400px; }
  .posts .post_date {
    position: relative;
    z-index: 3;
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: baseline; }
    .posts .post_date .container-date {
      display: inline-flex;
      align-items: baseline;
      border-bottom: 1px solid #d02230; }
    .posts .post_date-day {
      font-size: 33px;
      margin-left: 21px; }
    .posts .post_date-month {
      margin-left: 12px; }
    .posts .post_date-year {
      padding-right: 12px;
      padding-bottom: 10px;
      border-right: 1px solid #fff; }
      .posts .post_date-year:before {
        content: '';
        position: absolute;
        bottom: -12px;
        height: 12px;
        width: 50px;
        background-color: #d02230;
        margin-right: -12px; }
  .posts .post_title {
    position: relative;
    z-index: 3;
    margin-bottom: 20px; }
    .posts .post_title h3 {
      font-size: 23px;
      margin: 0; }
  .posts .post_description {
    position: relative;
    z-index: 3;
    margin-bottom: 85px;
    font-size: 16px; }
  .posts .post .button {
    position: absolute;
    z-index: 3;
    display: block;
    bottom: 40px;
    width: 228px;
    height: 51px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 51px;
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease-out; }
    .posts .post .button:hover {
      background-color: #d02230;
      border: 1px solid #d02230; }
      .posts .post .button:hover:after {
        position: absolute;
        left: 25px;
        font-family: Linearicons-Free;
        content: "\e879";
        font-size: 30px; }
  .posts .post:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(64, 64, 65, 0.5); }
  .posts .post_hot {
    background-color: #d02230;
    padding: 0 72px;
    height: 400px;
    text-align: center; }
    .posts .post_hot-img {
      width: 100%;
      text-align: center;
      margin-top: 27px;
      margin-bottom: 43px; }
    .posts .post_hot-item1 {
      margin-bottom: 25px;
      font-size: 16px;
      color: #ffffff; }
      .posts .post_hot-item1 .item1-container {
        display: inline-flex; }
      .posts .post_hot-item1 .item1-date {
        border-right: 1px solid #ffffff;
        padding-right: 7px;
        margin-right: 7px; }
    .posts .post_hot-title h3 {
      font-size: 23px;
      line-height: 37px;
      color: #ffffff;
      font-weight: 400; }
    .posts .post_hot .button {
      position: absolute;
      z-index: 3;
      display: block;
      bottom: 40px;
      width: 228px;
      height: 51px;
      right: calc(50% - 114px);
      border: 1px solid #ffffff;
      text-align: center;
      line-height: 51px;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s ease-out; }
      .posts .post_hot .button:hover {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        color: #d12331; }
        .posts .post_hot .button:hover:after {
          position: absolute;
          left: 25px;
          font-family: Linearicons-Free;
          content: "\e879";
          font-size: 30px; }

/* end posts */
/* start form */
section.form {
  padding-bottom: 100px; }
  section.form h2 {
    margin-top: 100px;
    margin-bottom: 87px;
    color: #4d4d4f;
    font-size: 35px;
    line-height: 27px;
    text-align: center;
    font-weight: 700; }
    section.form h2:after {
      content: "";
      position: absolute;
      top: 146px;
      height: 2px;
      width: 150px;
      background: #d12331;
      right: calc(50% - 75px); }
  section.form span {
    display: block; }
  section.form input[type="text"],
  section.form input[type="email"],
  section.form input[type="tel"] {
    width: 48%;
    height: 50px;
    margin-bottom: 22px;
    border: 1px solid #cccccc;
    padding: 21px 17px; }
  section.form textarea {
    padding: 21px 17px;
    margin-top: -288px;
    height: 193px;
    resize: none;
    width: 49%;
    float: left;
    border: 1px solid #cccccc;
    color: #4d4d4f; }
  section.form input[type="submit"] {
    margin-right: 5px;
    margin-left: 0;
    text-align: center;
    background: #ffffff;
    font-weight: 700;
    font-size: 18px;
    color: #d12331;
    border: 1px solid #d02230;
    margin-top: -88px;
    padding: 8px 15px 6px;
    width: 228px;
    height: 50px;
    float: left;
    cursor: pointer;
    transition: all 0.3s; }
    section.form input[type="submit"]:hover {
      background-color: #d02230;
      color: #ffffff; }
  section.form .ajax-loader {
    display: none; }

/* end form */
/*-------------------

-- styles for about--

--------------------*/

/*# sourceMappingURL=front-page.css.map */
