@import 'main';

.banner {
		margin-top: 135px;

		.owl-carousel {
				direction: ltr;
		}

		.owl-nav {
				position: absolute;
				top: calc(50% - 33px);
				width: 100%;
		}

		.owl-prev {
				text-align: center;
				height: 55px;
				width: 55px;
				line-height: 55px;
				float: left;
				font-size: 30px;
				color: rgba(255, 255, 255, 0.75);
				margin-left: 25px;
				background-color: $bg_red;
		}

		.owl-next {
				text-align: center;
				height: 55px;
				width: 55px;
				line-height: 55px;
				float: right;
				font-size: 30px;
				color: rgba(255, 255, 255, 0.75);
				margin-right: 25px;
				background-color: $bg_red;
		}

		.slider_info {
				position: absolute;
				bottom: 0;
				height: 135px;
				padding-top: 27px;
				background-color: rgba(77, 77, 79, 0.8);

				.slider-description {
						padding: 0;

						h2 {
								display: block;
								font-size: 28px;
								line-height: 38px;
								color: #ffffff;
								margin: 0;
								padding: 0;
								float: right;
						}

						p {
								color: #ffffff;
								float: right;
								text-align: right;
								margin: 10px 0;
						}

				}

				.slider-redline {
						border-top: 1px solid $bg_red;
						margin-left: 57px;
				}

		}

		.button {
				display: block;
				width: 250px;
				height: 51px;
				margin-right: 44px;
				background-color: transparent;
				text-align: center;
				line-height: 51px;
				font-size: 20px;
				border: 1px solid #bdbdbd;
				color: #fff;
				text-decoration: none;
				transition: all 0.3s ease-out;
				float: right;

				&:hover {
						background-color: $link_active;
						border: 1px solid $link_active;

						/*&:before {
								position: absolute;
								margin-left: -45px;
								font-family: Linearicons-Free;
								content: "\e879";
								font-size: 30px;
						}*/

				}

				&-active {
						border: 1px solid $link_active;
						background-color: $link_active;
						color: #ffffff;
						float: left;
						direction: rtl;
						font-size: 26px;


						&:hover {
								background-color: darken($link_active, 5%);
						}

				}

		}

}

/* Start info1 */
.info1 {
		text-align: center;

		h2 {
				margin-top: 104px;
				font-size: 30px;
				line-height: 38px;
				color: $text_dark;
				font-weight: bold;
				margin-bottom: 15px;
		}

		p {
				color: $text_dark;
				font-size: 29px;
				line-height: 47px;
				margin: 0;
		}

		.buttons {
				display: inline-flex;

				.button {
						display: block;
						margin: 80px 19px 100px 19px;
						width: 228px;
						height: 51px;
						border: 1px solid #ea989f;
						text-align: center;
						line-height: 51px;
						background-color: transparent;
						color: $link_active;
						text-decoration: none;
						transition: all 0.3s ease-out;
						font-size: 19px;
						letter-spacing: 5px;

						&:hover {
								background-color: $link_active;
								color: #ffffff;

								&:before {
										position: absolute;
										margin-right: 100px;
										font-family: Linearicons-Free;
										content: "\e879";
										font-size: 30px;
								}

						}

						&-active {
								background-color: $link_active;
								color: #ffffff;	
								font-size: 19px;	
								letter-spacing: 5px;						

								&:hover {
										background-color: $text_dark;
										border: 1px solid transparent;

										&:before {
												position: absolute;
												margin-left: -45px;
												font-family: Linearicons-Free;
												content: "\e879";
												font-size: 30px;
										}

								}

						}

				}

		}

}

/* end info1 */

/* start activities*/
.activities {
		padding-bottom: 100px;

		h2 {
				margin-top: 95px;
				margin-bottom: 75px;
				color: #ffffff;
				font-size: 35px;
				line-height: 27px;
				text-align: center;

				&:after {
						content: "";
						position: absolute;
						top: 141px;
						height: 2px;
						width: 150px;
						background: $link_active;
						right: calc(50% - 75px);
				}

		}

		&_content {
				display: inline-flex;
				flex-wrap: wrap;
				justify-content: center;
		}

		&_item {
				width: 25%;
				text-align: center;
				margin-bottom: 95px;
				cursor: pointer;

				.img1,
				.img2,
				.img3,
				.img4,
				.img5,
				.img6,
				.img7 {
						width: 100px;
						height: 100px;
						margin: 0 auto;
						transition: all 0.3s;
				}

				.img1 {
						background: url(../img/advert-icon1-off.png);
				}

				.img2 {
						background: url(../img/advert-icon2-off.png);
				}

				.img3 {
						background: url(../img/advert-icon3-off.png);
				}

				.img4 {
						background: url(../img/advert-icon4-off.png);
				}

				.img5 {
						background: url(../img/advert-icon5-off.png);
				}

				.img6 {
						background: url(../img/advert-icon6-off.png);
				}

				.img7 {
						background: url(../img/advert-icon7-off.png);
				}

				&-title {
						margin-bottom: 22px;
						color: #ffffff;
						font-size: 18px;
						line-height: 24px;
				}

				&-description {
						color: #ffffff;
						font-size: 16px;
						line-height: 24px;
				}

				&-img {
						height: 130px;
						width: 130px;
						margin: 0 auto;
						padding-top: 15px;
						text-align: center;
						background-color: rgba(255, 255, 255, 0);
						transition: all 0.3s;
				}

				&:hover {
						.activities_item-img {
								background-color: rgba(255, 255, 255, 1);
								border-radius: 100px;

								.img1 {
										background: url(../img/advert-icon1-on.png);
								}

								.img2 {
										background: url(../img/advert-icon2-on.png);
								}

								.img3 {
										background: url(../img/advert-icon3-on.png);
								}

								.img4 {
										background: url(../img/advert-icon4-on.png);
								}

								.img5 {
										background: url(../img/advert-icon5-on.png);
								}

								.img6 {
										background: url(../img/advert-icon6-on.png);
								}

								.img7 {
										background: url(../img/advert-icon7-on.png);
								}

						}

				}

		}

}

/* end activities*/

/* start methods */
.methods {
		h2 {
				margin-top: 95px;
				margin-bottom: 75px;
				color: $text_dark;
				font-size: 35px;
				line-height: 27px;
				text-align: center;

				&:after {
						content: "";
						position: absolute;
						top: 141px;
						height: 2px;
						width: 150px;
						background: $link_active;
						right: calc(50% - 75px);
				}

		}

		&_content {
				display: inline-flex;
				flex-wrap: wrap-reverse;
				justify-content: space-between;
				padding: 0 70px 85px;
				flex-direction: row-reverse;
		}

		&_item {
				width: 23%;
				min-height: 270px;
				margin: 0 15px 35px;
				cursor: pointer;
				transition: all 0.3s;

				&-title {
						position: relative;
						top: 50%;
						height: 50%;
						width: 100%;
						background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

						p {
								display: inline-block;
								margin-top: 91px;
								margin-right: 30px;
								float: right;
								color: #ffffff;
						}

				}

				&-more {
						display: inline-block;
						width: 35px;
						height: 35px;
						border: 1px solid rgba(255, 255, 255, 0.7);
						margin-top: 80px;
						margin-left: 30px;
						float: left;
						color: rgba(255, 255, 255, 0.7);
						font-size: 20px;
						line-height: 35px;
						text-align: center;
						transition: all 0.3s;

						&:before {
								font-family: Linearicons-Free;
								content: "\e875";
						}

				}

				&:hover {
						border-bottom: 7px solid $link_active;

						.methods_item-more {
								font-size: 28px;
								border: none;

								&:before {
										font-family: Linearicons-Free;
										content: "\e879";
								}

						}

				}

		}

}

@media screen and (max-width:1899px) {
		.methods {
				&_item {
						width: 22%;
						min-height: 200px;

						&-title {
								p {
										margin-top: 55px;
								}

						}

						&-more {
								margin-top: 50px;
						}

				}

		}

}

/* end methods */

/* start info2 */
.info2 {
		padding-top: 260px;
		padding-bottom: 220px;
		text-align: center;

		h2 {
				margin-bottom: 85px;
				margin-top: 0;
				font-size: 45px;
				line-height: 45px;
				color: #ffffff;
				text-align: center;
				font-weight: 700;
				letter-spacing: 10px;
		}

		.button {
				display: block;
				margin: 0 auto;
				width: 371px;
				height: 86px;
				background-color: transparent;
				border: 1px solid #ffffff;
				text-align: center;
				font-size: 31px;
				line-height: 86px;
				color: #ffffff;
				text-decoration: none;
				transition: all 0.3s ease-out;

				&:hover {
						background-color: $link_active;
						border: 1px solid $link_active;

						&:before {
								position: absolute;
								margin-right: 150px;
								font-family: Linearicons-Free;
								content: "\e879";
								font-size: 30px;
						}

				}

		}

}

/* end info2 */

/* start digitals */
.digitals {
		padding-top: 105px;
		padding-bottom: 95px;

		&_list {
				display: inline-flex;
				justify-content: space-around;
				width: 100%;
		}

		&_item {
				display: table;
				width: 195px;
				height: 195px;
				border: 1px solid #cccccc;
				border-radius: 100%;
				text-align: center;

				.table-cell {
						display: table-cell;
						vertical-align: middle;
				}

				span {
						display: block;
						font-size: 55px;
						color: $link_active;
						font-weight: 600;
				}

				p {
						display: block;
						font-size: 17px;
						color: $text_dark;
						margin: 0;
				}

		}

}

/* end digitals */

/* start posts */
.posts {
		.post {
				color: #ffffff;
				padding: 0 72px;
				height: 400px;

				p {
					margin: 10px 0 !important;
				}

				&_date {
						position: relative;
						z-index: 3;
						margin-top: 30px;
						margin-bottom: 50px;
						align-items: baseline;

						.container-date {
								display: inline-flex;
								align-items: baseline;
								border-bottom: 1px solid $bg_red;
						}

						&-day {
								font-size: 33px;
								margin-left: 21px;
						}

						&-month {
								margin-left: 12px;
						}

						&-year {
								padding-right: 12px;
								padding-bottom: 10px;
								border-right: 1px solid #fff;

								&:before {
										content: '';
										position: absolute;
										bottom: -12px;
										height: 12px;
										width: 50px;
										background-color: $bg_red;
										margin-right: -12px;
								}

						}

				}

				&_title {
						position: relative;
						z-index: 3;
						margin-bottom: 20px;

						h3 {
								font-size: 23px;
								margin: 0;
						}

				}

				&_description {
						position: relative;
						z-index: 3;
						margin-bottom: 85px;
						font-size: 16px;
				}

				.button {
						position: absolute;
						z-index: 3;
						display: block;
						bottom: 40px;
						width: 250px;
						height: 51px;
						border: 1px solid #ffffff;
						text-align: center;
						line-height: 51px;
						color: #ffffff;
						text-decoration: none;
						transition: all 0.3s ease-out;
						letter-spacing: 5px;

						&:hover {
								background-color: $bg_red;
								border: 1px solid $bg_red;

								&:after {
										position: absolute;
										left: 25px;
										font-family: Linearicons-Free;
										content: "\e879";
										font-size: 30px;
								}

						}

				}

				&:before {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 2;
						background: rgba($bg_grey, 0.5);
				}

				&_hot {
						background-color: $bg_red;
						padding: 0 72px;
						height: 400px;
						text-align: center;

						&-img {
								width: 100%;
								text-align: center;
								margin-top: 27px;
								margin-bottom: 43px;
						}

						&-item1 {
								margin-bottom: 25px;
								font-size: 16px;
								color: #ffffff;

								.item1-container {
										display: inline-flex;
								}

								.item1-date {
										border-right: 1px solid #ffffff;
										padding-right: 7px;
										margin-right: 7px;
								}

						}

						&-title {
								h3 {
										font-size: 23px;
										line-height: 37px;
										color: #ffffff;
										font-weight: bold;
								}

						}

						.button {
								position: absolute;
								z-index: 3;
								display: block;
								bottom: 40px;
								width: 250px;
								height: 51px;
								right: calc(50% - 114px);
								border: 1px solid #ffffff;
								text-align: center;
								line-height: 51px;
								color: #ffffff;
								text-decoration: none;
								transition: all 0.3s ease-out;
								letter-spacing: 5px;
								line-height: 46px;

								&:hover {
										background-color: #ffffff;
										border: 1px solid #ffffff;
										color: $link_active;

										&:after {
												position: absolute;
												left: 25px;
												font-family: Linearicons-Free;
												content: "\e879";
												font-size: 30px;
										}

								}

						}

				}

		}

}
.posts .post_hot .button {letter-spacing: 5px; width: 250px; line-height: 46px;}

/* end posts */

/* start form */
section.form {
		padding-bottom: 70px;
		background: url(../img/contactbg.png) repeat-x;

		h2 {
				margin-top: 100px;
				margin-bottom: 87px;
				color: $text_dark;
				font-size: 35px;
				line-height: 27px;
				text-align: center;
				font-weight: 700;

				&:after {
						content: "";
						position: absolute;
						top: 146px;
						height: 2px;
						width: 150px;
						background: $link_active;
						right: calc(50% - 75px);
				}

		}

		span {
				display: block;
		}

		input[type="text"],
		input[type="email"],
		input[type="tel"] {
				width: 48%;
				height: 50px;
				margin-bottom: 22px;
				border: 2px solid #e0e0e0;
				padding: 21px 17px;
				font-size: 16px;
				background: none;
		}

		textarea {
				padding: 21px 17px;
				margin-top: -288px;
				height: 193px;
				resize: none;
				width: 49%;
				float: left;
				border: 2px solid #e0e0e0;
				color: $text_dark;
				font-size: 16px;
				background: none;
		}

		input[type="submit"] {
				margin-right: 5px;
				margin-left: 0;
				text-align: center;
				background: #ffffff;				
				font-size: 18px;
				font-weight: 400;
				color: $link_active;
				border: 1px solid #e9979e;
				margin-top: -88px;
				padding: 8px 15px 6px;
				width: 228px;
				height: 50px;
				float: left;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
						background-color: $bg_red;
						color: #ffffff;
				}

		}

		.ajax-loader {
				display: none;
		}

}

		::-webkit-input-placeholder { /* Chrome */
		  color: #4d4d4f;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: #4d4d4f;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: #4d4d4f;
		  opacity: 1;
		}
		:-moz-placeholder { /* Firefox 4 - 18 */
		  color: #4d4d4f;
		  opacity: 1;
		}

/* end form */

/*-------------------

-- styles for about--

--------------------*/
