* {
  font-family: 'OpenSansHebrew'; }

body,
ul {
  margin: 0;
  padding: 0; }

section,
div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

header {
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
  border-bottom: 1px solid #d12331; }

header.fixed {
  background-color: #ffffff; }

.header_container {
  height: 100%; }
.header_links {
  float: right; }
  .header_links li {
    display: inline-block;
    height: 35px;
    padding: 0 20px;
    border-left: 1px solid #4d4d4f;
    line-height: 35px;
    list-style-type: none;
    font-size: 14px; }
    .header_links li a {
      color: #4d4d4f;
      text-decoration: none; }
    .header_links li [class^="icon-"]:before,
    .header_links li [class*=" icon-"]:before {
      font-size: 14px;
      color: #999999; }
    .header_links li .icon-phone {
      color: #4d4d4f;
      margin-right: 10px; }
      .header_links li .icon-phone:before {
        font-size: 17px; }
.header_logo {
  float: left; }
.header_menu {
  display: inline-flex;
  margin-top: 46px; }
.header_menu-menu {
  display: inline-flex;
  float: right;
  height: 100%; }
  .header_menu-menu li.menu_item {
    position: relative;
    display: block;
    list-style-type: none;
    transition: all 0.3s;
    height: 100%;
    margin-right: 34px; }
    .header_menu-menu li.menu_item a {
      display: block;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: #4d4d4f; }
      .header_menu-menu li.menu_item a:hover {
        color: #d12331; }
    .header_menu-menu li.menu_item.menu_item_has_children:after {
      content: "\e874";
      position: absolute;
      font-family: 'Linearicons-Free';
      font-size: 8px;
      top: 8px;
      left: -12px;
      cursor: pointer; }
    .header_menu-menu li.menu_item.menu_item_has_children:hover .sub_menu {
      opacity: 1;
      visibility: visible; }
  .header_menu-menu .sub_menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 1px;
    z-index: 99;
    transition: all 0.3s; }
    .header_menu-menu .sub_menu li.sub-menu_item {
      height: 35px;
      background: #f5f5f5;
      border-bottom: 1px solid #999999;
      list-style-type: none;
      display: block;
      width: 240px; }
      .header_menu-menu .sub_menu li.sub-menu_item a {
        text-align: right;
        padding-right: 25px;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        text-decoration: none; }
      .header_menu-menu .sub_menu li.sub-menu_item:hover {
        background-color: #ffffff; }

.search {
  float: right;
  width: 70px;
  margin-bottom: 30px;
  border-left: 1px solid #4d4d4f;
  text-align: center;
  color: #4d4d4f; }
  .search img {
    margin-left: 15px; }

/* end header */
/* breadcrumbs */
.breadcrumbs-box {
  padding-top: 550px; }
  .breadcrumbs-box span {
    font-size: 16px;
    color: #989898; }
    .breadcrumbs-box span a {
      text-decoration: none; }
  .breadcrumbs-box .sep {
    padding: 0 10px; }
  .breadcrumbs-box .current {
    font-weight: bold; }

/* end breadcrumbs-box */
.text-center {
  text-align: center; }

.title-box {
  margin-top: 100px;
  margin-bottom: 60px;
  color: #4d4d4f;
  font-size: 35px;
  line-height: 27px;
  text-align: center;
  font-weight: 700;
  position: relative; }
  .title-box:after {
    content: "";
    position: absolute;
    bottom: -25px;
    height: 2px;
    width: 150px;
    background: #d12331;
    right: calc(50% - 75px); }

/* start footer */
footer {
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: #404041; }
  footer .footer_menu-menu {
    display: inline-flex;
    justify-content: space-between;
    float: right; }
    footer .footer_menu-menu li {
      display: block;
      list-style-type: none; }
      footer .footer_menu-menu li.menu_item_has_children:after {
        content: "\e874";
        font-family: 'Linearicons-Free';
        font-size: 8px; }
      footer .footer_menu-menu li a {
        text-decoration: none;
        color: #ffffff;
        margin-left: 34px;
        font-size: 15px; }
        footer .footer_menu-menu li a:hover {
          color: #d12331; }
    footer .footer_menu-menu .sub_menu {
      display: none; }
  footer .footer_row {
    align-items: baseline; }
  footer .footer_links li {
    display: inline-block;
    list-style-type: none;
    margin-right: 15px;
    color: #ffffff;
    float: left; }
    footer .footer_links li a {
      color: #ffffff;
      text-decoration: none; }
    footer .footer_links li i {
      width: 42px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      border: 1px solid #ffffff;
      border-radius: 100%;
      color: #999999;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      transition: all 0.3s; }
      footer .footer_links li i:hover {
        color: #ffffff; }
  footer .footer_links .icon-phone {
    margin: 0 16px; }
  footer .copyright {
    padding-top: 48px;
    text-align: right;
    color: #ffffff; }

.mobile-menu-btn {
  display: none; }

@media screen and (max-width: 899px) {
  header.container {
    padding: 0; }

  .header_links {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #d02230;
    margin-bottom: 10px; }
    .header_links li {
      display: block;
      height: 35px;
      padding: 0 10px;
      line-height: 35px;
      list-style-type: none;
      font-size: 14px;
      border: none; }
  .header_logo {
    display: block;
    width: 100px; }
    .header_logo img {
      width: 100%; }
  .header_menu {
    margin: 0; }
    .header_menu #menu {
      position: fixed;
      right: 100%;
      margin-top: 35px; }
    .header_menu .search {
      position: fixed;
      left: 50%;
      margin-left: -16px;
      border: none;
      width: 33px; }

  .mobile-menu-btn {
    position: fixed;
    background-color: transparent;
    display: block;
    right: 0;
    height: 45px;
    width: 45px;
    margin: 0;
    margin-top: -11px;
    padding: 8px 10px;
    border: 1px solid #d02230;
    box-sizing: border-box;
    z-index: 999; }
    .mobile-menu-btn span {
      background-color: #d02230;
      display: block;
      height: 3px;
      margin-top: 5px;
      position: relative;
      transition: all 0.3s ease 0s;
      width: 23px;
      opacity: 1; } }
/* end footer */

/*# sourceMappingURL=main.css.map */
