@import 'colors';

* {
		font-family: 'OpenSansHebrew';
}

body,
ul {
		margin: 0;
		padding: 0;		
}

section,
div {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
}

header {
		position: fixed;
		top: 0;
		z-index: 999;
		left: 0;
		right: 0;
		border-bottom: 1px solid $slider_arrow;
}

header.fixed {
		background-color: #ffffff;
}

.header {
		&_container {
				height: 100%;
		}

		&_links {
				float: right;

				li {
						display: inline-block;
						height: 35px;
						padding: 0 10px;
						border-left: 1px solid $border_line;
						line-height: 35px;
						list-style-type: none;
						font-size: 14px;

						a {
								color: $text_dark;
								text-decoration: none;
						}

						[class^="icon-"]:before,
						[class*=" icon-"]:before {
								font-size: 16px;
								color: #999999;
						}

						.icon-phone {
								color: #4d4d4f;
								margin-right: 10px;

								&:before {
										font-size: 17px;
										color: #4d4d4f;
								}

						}

				}

		}

		&_logo {
				float: left;
		}

		&_menu {
				display: inline-flex;
				margin-top: 46px;
		}

		&_menu-menu {
				display: inline-flex;
				float: right;
				height: 100%;

				li.menu_item {
						position: relative;
						display: block;
						list-style-type: none;
						transition: all 0.3s;
						height: 100%;
						margin-right: 34px;

						a {
								display: block;
								height: 100%;
								width: 100%;
								text-decoration: none;
								color: $text-dark;

								&:hover {
										color: $link_active;
								}

						}

						&.menu_item_has_children {
								&:after {
										content: "\e874";
										position: absolute;
										font-family: 'Linearicons-Free';
										font-size: 8px;
										top: 8px;
										left: -12px;
										cursor: pointer;
								}

								&:hover {
										.sub_menu {
												opacity: 1;
												visibility: visible;
										}

								}

						}

				}

				.sub_menu {
						opacity: 0;
						visibility: hidden;
						position: absolute;
						margin-top: 1px;
						margin-right: -25px;
						z-index: 99;
						transition: all 0.3s;

						li.sub-menu_item {
								height: 35px;
								background: #f5f5f5;
								border-bottom: 1px solid #d2d2d2;
								list-style-type: none;
								display: block;
								width: 240px;

								a {
										text-align: right;
										padding-right: 25px;
										display: block;
										height: 100%;
										width: 100%;
										margin: 0;
										text-decoration: none;
										line-height: 34px;
								}

								&:hover {
										background-color: #ffffff;
								}

						}

				}

		}

}

.search {
		float: right;
		width: 49px;
		margin-bottom: 30px;
		border-left: 1px solid #4d4d4f;
		text-align: center;
		color: $text-dark;

		img {
				/*margin-left: 15px;*/
		}

}

/* end header */

/* breadcrumbs */
.breadcrumbs-box {
	padding-top: 550px;

	span {
		font-size: 16px;
		color: #989898;

		a {
			text-decoration: none;
		}
	}
	.sep {
		padding: 0 10px;
	}
	.current {
		font-weight: bold;
	}

}

/* end breadcrumbs-box */


.text-center {
	text-align: center;
}
.title-box {
	margin-top: 100px;
	margin-bottom: 60px;
	color: $text_dark;
	font-size: 35px;
	line-height: 27px;
	text-align: center;
	font-weight: 700;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		bottom: -25px;
		height: 2px;
		width: 150px;
		background: $link_active;
		right: calc(50% - 75px);
	}

}

/* start footer */
footer {
		padding-top: 65px;
		padding-bottom: 70px;
		background-color: $bg_grey;

		.footer {
				&_menu-menu {
						display: inline-flex;
						justify-content: space-between;
						float: right;
						margin-top: -30px;

						li {
								display: block;
								list-style-type: none;

								&.menu_item_has_children {
										&:after {
												content: "\e874";
												font-family: 'Linearicons-Free';
												font-size: 8px;
										}

								}

								a {
										text-decoration: none;
										color: #ffffff;
										margin-left: 34px;
										font-size: 15px;

										&:hover {
												color: $link_active;
										}

								}

						}

						.sub_menu {
								display: none;
						}

				}

				&_row {
						align-items: baseline;
				}

				&_social {
				}

				&_links {
						li {
								display: inline-block;
								list-style-type: none;
								margin-right: 15px;
								color: #ffffff;
								float: left;

								a {
										color: #ffffff;
										text-decoration: none;
								}

								i {
										width: 42px;
										height: 42px;
										line-height: 42px;
										text-align: center;
										border: 1px solid #999999;
										border-radius: 100%;
										color: #999999;
										font-size: 20px;
										padding: 10px;
										cursor: pointer;
										transition: all 0.3s;

										&:hover {
												color: #ffffff;
												border: 1px solid #fff;
										}

								}

						}

						.icon-phone {
								margin: 0 16px;
								/*color: #fff;*/
						}
						/*.icon-facebook {color: #fff;}*/

				}

		}

		.copyright {
				padding-top: 48px;
				text-align: right;
				color: #ffffff;
		}

}

.mobile-menu-btn {
		display: none;
}

@media screen and (max-width:899px) {
		header.container {
				padding: 0;
		}

		.header {
				&_links {
						display: inline-flex;
						justify-content: space-between;
						width: 100%;
						border-bottom: 1px solid $bg_red;
						margin-bottom: 10px;

						li {
								display: block;
								height: 35px;
								padding: 0 10px;
								line-height: 35px;
								list-style-type: none;
								font-size: 14px;
								border: none;
						}

				}

				&_logo {
						display: block;
						width: 100px;

						img {
								width: 100%;
						}

				}

				&_menu {
						margin: 0;

						#menu {
								position: fixed;
								right: 100%;
								margin-top: 35px;
						}

						.search {
								position: fixed;
								left: 50%;
								margin-left: -16px;
								border: none;
								width: 33px;
						}

				}

		}

		.mobile-menu-btn {
				position: fixed;
				background-color: transparent;
				display: block;
				right: 0;
				height: 45px;
				width: 45px;
				margin: 0;
				margin-top: -11px;
				padding: 8px 10px;
				border: 1px solid $bg_red;
				box-sizing: border-box;
				z-index: 999;

				span {
						background-color: $bg_red;
						display: block;
						height: 3px;
						margin-top: 5px;
						position: relative;
						transition: all 0.3s ease 0s;
						width: 23px;
						opacity: 1;
				}

		}

}

/* end footer */